<%= @title %><br><br>


players: <%= (@players || []).map { |p| p.name }.join(' ')%><br><br>

boards: <%=(@boards || []).map { |b| "#{b.name} #{b.side}" }.join(' ') %><br><br>


<br>

<a href="/games/add">Add a game</a>
